<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style_1.css">
    <script async src="../static/js/script.js"></script>
</head>
<body>
<h2>Airline Reservation System</h2>
<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form action="admin.html">
			<h1>Sign in</h1>

			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>

			<button type="submit" class="btn btn-primary btn-block">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello!</h1>
				<p>Enter your username and password</p>
			</div>
		</div>
	</div>
</div>


</body>
</html>