<!DOCTYPE html>

<html lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

  <link rel="stylesheet" href="../../css/style_2.css"/>
  <link rel="stylesheet" href="../../css/stylee.css"/>

  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="sidebar">
  <div class="logo-details">
    <span class="logo_name"></span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#" class="active">
        <i class='bx bx-grid-alt' ></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li class="log_out">
      <a href="sign-out">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>
<form action="flights">
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Airline reservation system</span>
      </div>
      <div>
        <a href="#" th:text="${email}">example@mail.ru</a>
      </div>
    </nav>

    <div class="home-content">
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="table-responsive">
            <main class="py-4">
              <main class="container">
                <h1 class="heading"><ion-icon name="cart-outline"></ion-icon> Information about the order</h1>

                <div class="item-flex">
                  <section class="checkout">
                    <h2 class="section-heading" th:text="${flight.flightNumber + ' ' + flight.cityFrom + ' -> ' + flight.cityTo}">AR2502 Novosibirsk -> Moscow</h2>

                    <div class="payment-form">
                      <form action="#" th:each="passenger, stat: ${passengers}" method="post">
                        <h4 class="section-heading" th:text="'Information about passenger ' + ${stat.index + 1} + '.'">Information about passenger</h4>

                        <div class="cardholder-name">
                          <label for="cardholder-name" class="label-default">Surname</label>
                          <h6 th:text="${passenger.lastName}" id="cardholder-name_1" class="input-default">Ivanov</h6>
                        </div>

                        <div class="cardholder-name">
                          <label for="cardholder-name" class="label-default">Name</label>
                          <h6 th:text="${passenger.firstName}" id="cardholder-name_2" class="input-default">Ivan</h6>
                        </div>

                        <div class="card-number">
                          <label for="card-number" class="label-default">Passport number</label>
                          <h6 th:text="${passenger.passport}" id="cardholder-number" class="input-default">0000000000</h6>
                        </div>

                        <div class="card-number">
                          <label for="card-date" class="label-default">Birthday Date</label>
                          <h6 th:text="${passenger.birthdayDate}" id="birth" class="input-default">1950-01-01</h6>
                        </div>

                        <p th:if="${passenger.luggage == 1}">
                          <label>
                            <input type="checkbox" checked="checked" disabled="disabled"/>
                            <span>Luggage</span>
                          </label>
                        </p>

                        <p th:if="${passenger.insurance == 1}">
                          <label>
                            <input type="checkbox" checked="checked" disabled="disabled"/>
                            <span>Insurance</span>
                          </label>
                        </p>

                        <p th:if="${passenger.autoregistration == 1}">
                          <label>
                            <input type="checkbox" checked="checked" disabled="disabled"/>
                            <span>Autoregistration</span>
                          </label>
                        </p>
                      </form>
                    </div>
                  </section>

                  <section class="cart">
                    <div class="cart-item-box">
                      <h2 class="section-heading">Total amount</h2>

                      <div class="product-card">
                        <div class="card">
                          <div class="detail">
                            <h4 class="product-name">Air ticket</h4>
                            <div class="wrapper">
                              <div class="price">
                                <span id="price" th:text="${price.ticketPrice} + ' RUB'">0</span>
                              </div>
                              <div class="product-qty">
                                <span id="quantity" th:text="${'x   ' + price.ticketCount}">1</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="product-card">
                        <div class="card" th:if="${price.luggageCount != 0}">
                          <div class="detail">
                            <h4 class="product-name">Luggage</h4>
                            <div class="wrapper">
                              <div class="price">
                                <span id="price" th:text="${price.luggagePrice} + ' RUB'"></span>
                              </div>
                              <div class="product-qty">
                                <span id="quantity" th:text="${'x   ' + price.luggageCount}">1</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="product-card">
                        <div class="card" th:if="${price.insuranceCount != 0}">
                          <div class="detail">
                            <h4 class="product-name">Insurance</h4>
                            <div class="wrapper">
                              <div class="price">
                                <span id="price" th:text="${price.insurancePrice} + ' RUB'"></span>
                              </div>
                              <div class="product-qty">
                                <span id="quantity" th:text="${'x   ' + price.insuranceCount}">1</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="product-card">
                        <div class="card" th:if="${price.autoregistrationCount != 0}">
                          <div class="detail">
                            <h4 class="product-name">Autoregistration</h4>
                            <div class="wrapper">
                              <div class="price">
                                <span id="price" th:text="${price.autoregistrationPrice} + ' RUB'"></span>
                              </div>
                              <div class="product-qty">
                                <span id="quantity" th:text="${'x   ' + price.autoregistrationCount}">1</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="wrapper">
                        <div class="amount">
                          <div class="total">
                            <span>Total</span>
                            <span>
                                <span id="total" th:text="${price.total}"></span> RUB
                              </span>
                          </div>

                          <button class="btnn btnn-primary">
                            <span id="cancel">CLOSE</span>
                          </button>
                        </div>
                      </div>`
                    </div>`
                  </section>
                </div>
              </main>
            </main>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

<script src="../../js/scriptt.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script type="nomodule" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function() {
    sidebar.classList.toggle("active");
    if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    } else {
    sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
  }
  </script>

</body>
</html>

